<%= form_for(@property) do |f| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="property">
  <div class="field">
    <%= f.label :物件名 %>
    <br>
    <%= f.text_field :property %>
  </div>

  <div class="field">
    <%= f.label :賃料 %>
    <br>
    <p> <%= f.text_field :rent %>円</p>
  </div>

  <div class="field">
    <%= f.label :住所 %>
    <br>
    <%= f.text_field :adress %>
  </div>

  <div class="field">
    <%= f.label :築年数 %>
    <br>
   <p> <%= f.number_field :building_age %>年</p>
  </div>

  <div class="field">
    <%= f.label :備考 %>
    <br>
    <%= f.text_area :remarks %>
  </div>
</div >

<!-- horizontal rule（水平方向の罫線） -->
 <hr>

  <% x = 1 %>
  <%= f.fields_for :stations do |s| %>

    <h2><b>最寄り駅<%= x %></b></h2>
    <div class="field">
    <%= s.label :路線名 %>
    <br>
    <%= s.text_field :name_of_railway_line %>
  </div>


  <div class="field">
    <%= s.label :駅名%>
    <br>
    <%= s.text_field :station_name %>
  </div>

  <div class="field">
    <%= s.label :徒歩分数 %>
    <br>
  <!-- 数字カウント -->
    <p><%= s.number_field :how_many_minutes_walks %>分</p>
  </div>
  <% x += 1 %>
    <br>
    <br>
  <% end %>

  <div class="actions">
    <%= f.submit :登録%>
  </div>
<% end %>
